#rara
{
  margin-left: 8rem;
}
#cacao{
  background-color: white;
}

#header{
  position: fixed;
  

  
  transition: top 0.3s;
  transition-delay: 0.2s;
}

#header.hidden {
  top: -80px;
}
#gaoua{background-color: black;
    border-style: none;
    width: 40px;
    height: 20px;
    margin-right: 10px;
    font-size: 18px;

}
#nazim
{
  background-color: black;
    border-style: none;
    width: 40px;
    height: 20px;
    margin-right: 10px;
    font-size: 18px;
    
}
#baba
{
    color: black;

}

#love
{
   width: 50px;
   height: 50px;   }

header {
  height: 100px;
}
.navbar .navbar-brand {
  font-size: 30px;

}
.navbar .nav-item {
  padding: 2px 1px;

}
.navbar .nav-link {
  font-size: 20px;
  margin-left: 50px;
}
.fa-bars {
  color: #007bff;
  font-size: 30px;
}
#dropdownMenuButton
{
    background-color: black;
    border-style: none;
    width: 115px;
    margin-right: 10px;
    font-size: 18px;

}
#kaka
{
text-align: right;

}
.dropdown-item:hover
{
background-color: black;
}


h1
{
    text-align: center;
  
    margin-top: 0;
    padding: 20px;
    color: black;
}
.register {
   
    background-repeat: no-repeat;
    background-size: 100% 900px;
    color: black;



}
.reg 
{
background-color: #A0522D;
border-radius: 10px;
border:2px solid white;
padding: 15px;
color: black;
font-size: 15px;

}
#search
{
  background-color:#DEB887;
  width: 200px;
}


$grey: #E2E2E2;
$red: #DA5A4E;

body {
  background-color: #F5F9F9;
  font-family: 'Open Sans', Helvetica
}
.content {
  margin: 35px;
}

.info-card {
  width: 500px;
  background-color: white;
  border: 3px $grey solid;
  border-radius: 8px;
  padding: 25px;
  
  .info {
    height: 100%;
    width: 100%;
    
    h3 {
      display: block;
      margin:0;
      margin-bottom: 5px;
    }
    
    .info-item {
      .summary {
        position: relative;
        height: 35px;
        
        .title {
          font-size: 10pt;
          position: absolute;
          left: 0;
          bottom: 0;
        }
        .value {
          font-size: 8pt;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }
      
      .slider {
        height: 5px;
        background-color: $grey;
        margin-top: 8px;
        position: relative;
        
        .progress {
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          display: inline-block;
          background-color: $red;
          animation: slide 1.5s ease-in-out;
          transform-origin: left top;
        }
      }
    }
  }
}

// Slider values for demo purposes
.progress {
    
  &#ds {
    width: 67%;
  }
  
  &#dbs {
    width: 50%;
  }
  
  &#ins {
    width: 86%;
  }
  
  &#mail {
    width: 85%;
  }
}


@keyframes slide {
  from {
    transform: scale(0,1);
  }
  
  to {
    transform: scale(1,1);
  }
}